/******************************
ボタン
******************************/
@use "../../foundation/forwards" as *;

/* ----------------- Variants ----------------- */
.c-button--a {
  display: inline-block;
  padding: rem(21) rem(81);
  font-size: rem(16);
  color: $color-text;
  font-weight: 700;
  line-height: 1;
  position: relative;
  background-color: $color-white;
  border: 1px solid $color-text;
  border-radius: 10px;

  &::after {
    display: block;
    content: "";
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: $color-text;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(19);
  }
  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-white;
    background-color: $color-text;
    border-color: $color-text;
    &::after {
      background-color: $color-white;
    }
  }
}

.c-button--b {
  display: block;
  width: rem(208);
  padding-block: rem(10) rem(33);
  text-align: center;
  font-size: rem(16);
  color: $color-text;
  line-height: 1;
  position: relative;
  background-color: $color-white;
  border: 1px solid $color-main;
  border-radius: 10px;

  &::after {
    display: block;
    content: "";
    width: rem(10);
    height: rem(10);
    background-image: url(/img/icon_arrow_down.svg);
    position: absolute;
    bottom: rem(11);
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-white;
    background-color: $color-main;
    border-color: $color-main;
    &::after {
      filter: brightness(0) invert(1);
    }
  }
}