/******************************
contact section
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

@mixin contactSec-tablet(){
  padding-top: rem(40);
  margin-bottom: rem(84);

  &__inner{
    padding-right: var(--inner-pr);
    @include mq("pc") {
      border-radius: 50px 0 0 50px;
    }

    .l-inner {
      position: relative;
      padding-block: rem(32) rem(53);
      padding-left: rem(24);

      .c-contactSec__title {
        margin-bottom: rem(39);
      }

      .c-contactSec__body{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
          
        .c-contactSec__tel {
          flex-direction: column;
          align-items: flex-start;
          align-items: center;
          gap: rem(8);
          border-bottom: none;
          padding-top: rem(7);
          padding-bottom: rem(7);
          padding-right: rclamp(20, 32, 744, 1023);
          border-right: 1px solid $color-text;
          margin-bottom: 0;
          @include mq("pc") {
            padding-right: rclamp(20, 32, 1024, 1440);
          }

          p:first-child {
            @include mq("pc") {
              font-size: rclamp(28, 32, 1024, 1050);
            }
          }
          p:last-child {
            margin-bottom: 0;
            margin-left: calc(-1 * rem(5));
          }
        }

        .c-contactSec__telNumber {
          padding-block: rem(8);
          padding-inline: rclamp(20, 32, 744, 1023);
          border-right: 1px solid $color-text;
          margin-bottom: 0;
          @include mq("pc") {
            padding-inline: rclamp(20, 32, 1024, 1440);
          }

          p:first-child {
            @include mq("pc") {
              font-size: rclamp(28, 32, 1024, 1050);
            }
          }
        }

        .c-contactSec__mail {
          padding-left: rclamp(24, 64, 744, 1023);
          @include mq("pc") {
            padding-left: rclamp(24, 64, 1024, 1440);
          }
        }//.c-contactSec__mail
      }//.c-contactSec__body
    }//.l-inner
  }//.p-contactSec__inner

  &__catch {
    top: rclamp(24, 31, 1024, 1440);
    right: rem(20);
    @include mq("pc") {
      right: 0;
    }
  }
}

.c-contactSec {
  padding-top: calc(rem(28) + rem(36));
  position: relative;
  &__inner{
    background-color: $color-lightgray;
    .l-inner {
      padding-block: rem(27) rem(41);

      .c-contactSec__title {
        margin-bottom: rem(47);
      }

      .c-contactSec__body{
        .c-contactSec__tel {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-start;
          gap: rem(16);
          padding-bottom: rem(24);
          border-bottom: 1px solid $color-text;
          margin-bottom: rem(24);
          
          p:first-child {
            display: block;
            font-family: Kanit;
            font-size: rem(32);
            line-height: 1;
          }

          p:last-child {
            display: block;
            font-size: rem(12);
            font-weight: 700;
            line-height: 1;
            height: fit-content;
            margin-bottom: rem(5);
          }
        }

        .c-contactSec__telNumber {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: rem(8);
          margin-bottom: rem(35);

          p:first-child {
            font-family: Kanit;
            font-size: rem(32);
            line-height: 1;
          }
          p:last-child {
            font-size: rem(12);
            font-weight: 700;
            line-height: 1;
          }
        }
        .c-contactSec__mail {
          .c-button--a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: rem(8);
            width: fit-content;
            padding: rem(20) rem(40) rem(20) rclamp(20, 40, 320, 340);
            border: none;
            
            &:hover img{
              filter: brightness(0) invert(1);
              border: none;
            }
          }
        }
      }
    }
  }

  &__catch {
    position: absolute;
    top: rem(36);
    right: rem(20);
    width: rclamp(59, 175, 375, 1440);
    height: auto;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 175 / 256;
    }
  }

  /*全幅背景のためメディアクエリのみ*/
  @include mq("tab") {
    @include contactSec-tablet();
  }
}