/******************************
フェードイン
******************************/
@use "../../foundation/forwards" as *;

.c-fadeIn{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  transform: translateY(150px);
}

.is-inview {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);

}

//時間差でフェードイン（スクロール無し）
.c-fadeInTime2000ms{
  animation-name: fadeIn2000ms;
  animation-delay: 2s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  transform: translateY(50px);
  opacity: 0;
}

@keyframes fadeIn2000ms {
    0% {
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.c-fadeInTime2500ms{
  animation-name: fadeIn2500ms;
  animation-delay: 2.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  transform: translateY(50px);
  opacity: 0;
}

@keyframes fadeIn2500ms {
    0% {
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}