/******************************
下層ページ用 hero
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

@mixin lowerHero-tablet(){
  padding-top: 0;

  .c-lowerHero__bg{
    display: block;
    position: absolute;
    top: calc(-1 * rem(40));
    right: 0;
    width: pc-vw(727);
    aspect-ratio: 727 / 563;
    background-color: $color-main;
    z-index: 0;
  }

  .c-lowerHero__body{
    margin-top: rem(20);
    margin-left: rem(20);
    margin-right: rem(40);
    width: calc(100% - rem(20) * 2);
    
    img{
      border-radius: 50px;
    }
  }
}

@mixin lowerHero-desktop(){
  .c-lowerHero__body{
    margin-top: rem(40);
    margin-left: 0;
    margin-right: rem(40);
    width: calc(100% - rem(40));
  }
}

.c-lowerHero {
  position: relative;
  padding-top: rem(23);

  &__bg {
    display: none;
  }

  &__body {
    position: relative;
    width: calc(100% - rem(10));
    height: auto;
    aspect-ratio: 1120 / 661;
    margin-inline: rem(10) auto;
    z-index: 1;  // bg の上

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px 0 0 10px;
    }
  }


 /*全幅背景のためメディアクエリのみ*/
  @include mq("tab"){
    @include lowerHero-tablet();
  }

  @include mq("pc"){
    @include lowerHero-desktop();
  }
}