/******************************
下層ページ　ヘッドセクション
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-lowerHeaderSection {
  padding-block: rem(64) rem(38);
  @include mq("tab") {
    padding-block: rem(64) rem(40);
  }

  > div {
    position: relative;
    max-width: rem(600);
  }
  
  &__title {
    font-size: rem(32);
    font-weight: 700;
    line-height: 1;
    margin-bottom: rem(64);
    @include mq("tab") {
      font-size: rem(40);
    }
  }

  &__text {
    margin-bottom: rem(48);
    max-width: rem(422);
    @include mq("tab") {
      margin-bottom: rem(64);
      width: rem(422);
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(24);

    @include mq("tab") {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__catch {
    position: absolute;
    top: calc(-1 * rem(20));
    right: var(--inner-pr);
    width: rclamp(80, 120, 375, 743);
    @include mq("tab") {
      top: 0;
      width: rclamp(120, 140, 744, 1023);
    }
    @include mq("pc") {
      width: rclamp(120, 165, 1024, 1440);
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}