/******************************
セクションタイトル
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-topSecTitle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: rclamp(16, 20, 375, 1440);

  &__text{
    font-size: rclamp(20, 24, 375, 1440);
    font-weight: 700;
    line-height: 1;
  }
  &__deco{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-main;
    color: transparent;
    font-family: Kanit;
    font-size: rclamp(72, 128, 375, 1440);
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
}