/******************************
セクションタイトル
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.c-topSecTitle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: rem(16);
  @include mq("pc") {
    gap: rem(20);
  }

  &__text{
    font-size: rem(20);
    font-weight: 700;
    line-height: 1;
    @include mq("pc") {
      font-size: rem(24);
    }
  }
  &__deco{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-main;
    color: $color-white;
    font-family: Kanit;
    font-size: rem(72);
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    @include mq("pc") {
      font-size: rem(128);
    }
  }
}