/******************************
Top about
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-about {
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column-reverse;
    gap: rem(126);
    @include mq("pc") {
      gap: rem(71);
    }

    .p-about__body {
      margin-inline: rem(20);
      @include mq("pc") {
        margin-inline: 0;
      }

      .p-about__text {
        margin-block: rem(40) rem(31);
        font-size: rem(14);
      @include mq("pc") {
        margin-block: rem(40) rem(41);
        font-size: rem(16);
        width: rem(429);
      }
      }
    }

    .p-about__head {
      background-color: $color-lightgray;
      padding-block: rem(16) rem(58);
      @include mq("pc") {
        padding-block: rem(63) rem(63);
      }

      .swiper {
        overflow: hidden;
        &-wrapper {
          transition-timing-function: linear !important;

          .swiper-slide {
            width: max-content;

            .item {
              width: max-content;

              img {
                width: rem(200);
                height: auto;
                aspect-ratio: 1 / 1;
                @include mq("pc") {
                  width: rem(360);
                }
              }
            }

            .swiper-slide :first-of-type .item{
                margin-left: 16px;
                @include mq("pc") {
                  margin-left: 46px;
                }
              }
          }
        }
      }
    }
  }

  &__catch {
    position: absolute;
    top: rem(116);
    right: rem(27);
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: rem(9);
    width: fit-content;

    img {
      width: rem(60);
      height: auto;
      object-fit: contain;
      padding-bottom: rem(62);
    }

    > div {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
      gap: rem(16);
      background-color: $color-lightgray;
      padding: rem(16) rem(24);

      p {
        font-size: rem(24);
        font-weight: 700;
        line-height: 1.5;
        width: rem(24);

        em {
          font-style: normal;
          color: $color-main;
        }
      }
    }
  }
}