/******************************
page about profile
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";
.p-aboutProfile {
  padding-top: rem(40);
  padding-bottom: rem(16);

  &__greeting {
    margin-bottom: rem(52);
    line-height: 29px;
    @include mq("tab") {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    gap: rclamp(24, 92, 768, 1023);
    }
    @include mq("pc") {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    gap: rclamp(24, 157, 1024, 1440);
    }

    figure {
      width: rem(331);
      margin-inline: auto;
      @include mq("tab") {
        width: rclamp(260, 331, 768, 1023);
      }
      @include mq("pc") {
        width: rclamp(260, 331, 1024, 1440);
      }

      img {
        width: 100%;
      }

      figcaption {
        display: flex;
        flex-direction: column;
        line-height: 1;
        gap: rem(16);
        margin-top: rem(16);
        @include mq("tab") {
          gap: rem(24);
        }

        span:last-child {
          color: $color-main;
          font-size: rem(24);
          font-weight: 700;
          @include mq("tab") {
            font-size: rem(32);
          }
        }
      }
    }
  }

  &__table {
    width: 100%;
    tr {
      display: grid;
      grid-template-columns: 1fr;
      @include mq("tab") {
        grid-template-columns: (rem(80) + rem(162)) 1fr;
      }
    }
    th {
      font-weight: 700;
      padding-top: calc(rem(20) - rem(6.4));
      @include mq("tab") {
        border-bottom: 1px solid $color-main;
        padding-top: calc(rem(30) - rem(6.4));
        padding-bottom: calc(rem(29) - rem(6.4));
      }
    }
    td {
      padding-bottom: calc(rem(19) - rem(6.4));
      border-bottom: 1px solid $color-main;
      @include mq("tab") {
        padding-top: calc(rem(30) - rem(6.4));
        padding-bottom: calc(rem(29) - rem(6.4));
      }
    }
    tr:nth-child(6) td{
      display: flex;
      flex-direction: column;
      @include mq("tab") {
        flex-direction: row;
      }
      span {
        display: block;
        @include mq("tab") {
          display: inline;
        }
      }
    }
  }
}