/******************************
page about profile
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";
.p-aboutProfile {
  padding-top: rem(40);
  padding-bottom: rem(16);

  &__greeting {
    margin-bottom: rem(52);
    @include mq("tab") {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    gap: rclamp(24, 92, 768, 1023);
    }
    @include mq("pc") {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    gap: rclamp(24, 157, 1024, 1440);
    }

    figure {
      width: rem(331);
      margin-inline: auto;
      @include mq("tab") {
        width: rclamp(260, 331, 768, 1023);
      }
      @include mq("pc") {
        width: rclamp(260, 331, 1024, 1440);
      }

      img {
        width: 100%;
      }

      figcaption {
        display: flex;
        flex-direction: column;
        line-height: 1;
        gap: rem(24);
        margin-top: rem(16);

        span:last-child {
          color: $color-main;
          font-size: rem(32);
          font-weight: 700;
        }
      }
    }
  }

  &__table {

  }
}