/******************************
ヘッダー
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-header {
  .p-header__inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    @include mq("pc"){
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-inline: rem(40);
    }

    .p-header__title {
      margin-block: rem(10);
      width: rem(98);
      height: rem(59);
      position: relative;
      z-index: $z-headerTitle;
      @include mq("pc") {
        margin-block: rem(74) rem(25);
        width: rem(200);
        height: rem(121);
      }
      > a {
        display: block;
        height: 100%;
      }
    }
  }
}