/******************************
hero
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-hero {
  position: relative;
  padding-top: rem(23);
  padding-bottom: rem(73);
  padding-left: sp-vw(10);
  @include mq("pc") {
    width: 100%;
    height: auto;
    aspect-ratio: 1160 / (40 + 873 + 76);
    padding-top: 0;
    padding-bottom: rem(76);
    padding-left: 0;
  }

  &__bg {
    display: none;
    @include mq("pc") {
      display: block;
      width: pc-vw(727);
      height: auto;
      aspect-ratio: 1 /1;
      margin: 0 0 0 auto;
      background-color: $color-main;
    }
  }

  &__body {
    width: 100%;
    height: sp-vw(589);
    background-color: $color-lightgray;
    border-radius: 10px 0px 0px 10px;
    @include mq("pc") {
      width: calc(100% - rem(40));
      height: auto;
      aspect-ratio: 1120 / 873;
      border-radius: 50px;
      position: absolute;
      top: rem(40);
      right: rem(40);
    }

    .p-hero__bodyInner {
      position: relative;
      width: 100%;
      height: 100%;

      .p-hero__img {
        position: absolute;
        
        img {
          width: 100%;
          height: 100%;
        }
      }
      .p-hero__img01 {
        width: math.div(103, 365) * 100%;
        height: auto;
        top: math.div(10, 589) * 100%;
        left: math.div(16, 365) * 100%;
        @include mq("pc") {
          width: math.div(195, 1120) * 100%;
          top: math.div(65.01, 873) * 100%;
          left: math.div(71, 1120) * 100%;
        }
      }
      .p-hero__img02 {
        width: math.div(134, 365) * 100%;
        height: auto;
        top: math.div(31, 589) * 100%;
        left: math.div(219, 365) * 100%;
        @include mq("pc") {
          width: math.div(255.92, 1120) * 100%;
          top: math.div(64, 873) * 100%;
          left: math.div(809.04, 1120) * 100%;
        }
      }
      .p-hero__img03 {
        width: math.div(82, 365) * 100%;
        height: auto;
        top: math.div(235.01, 589) * 100%;
        left: math.div(142, 365) * 100%;
        @include mq("pc") {
          width: math.div(206, 1120) * 100%;
          top: math.div(319, 873) * 100%;
          left: math.div(457, 1120) * 100%;
        }
      }
      .p-hero__img04 {
        width: math.div(110, 365) * 100%;
        height: auto;
        top: math.div(231, 589) * 100%;
        left: math.div(18, 365) * 100%;
        @include mq("pc") {
          width: math.div(314, 1120) * 100%;
          top: math.div(406, 873) * 100%;
          left: math.div(87, 1120) * 100%;
        }
      }
      .p-hero__img05 {
        width: math.div(88, 365) * 100%;
        height: auto;
        top: math.div(271, 589) * 100%;
        left: math.div(265, 365) * 100%;
        @include mq("pc") {
          width: math.div(162, 1120) * 100%;
          top: math.div(390, 873) * 100%;
          left: math.div(902, 1120) * 100%;
        }
      }
    }
  }

  .p-hero__scroll {
  position: absolute;
  bottom: rem(108);
  left: rem(19);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(8);
  @include mq("pc") {
    bottom: rem(140);
    left: rem(18);
  }
}
  &__scroll span {
    color: $color-main;
    font-size: rem(10);
    line-height: 1;
    -webkit-text-stroke: 0.2px $color-main;
  }
  /* line animation */
  &__scroll::before {
    animation: scroll 2s infinite;
    background-color: $color-main;
    top: rem(18);
    content: "";
    height: rem(52);
    left: rem(22.5);
    position: absolute;
    width: 1px;
    @include mq("pc") {
      height: rem(112);
    }
  }
  @keyframes scroll{
    0%{transform:scale(1,0);transform-origin:0 0;}
    50%{transform:scale(1,1);transform-origin:0 0;}
    51%{transform:scale(1,1);transform-origin:0 100%;}
    100%{transform:scale(1,0);transform-origin:0 100%;}
  }

}