/******************************
グローバルナビ
******************************/
@use "../../foundation/forwards" as *;

.p-nav{

  // ─── Off‑canvas (モバイル既定) ─────────────────
  @media(max-width: 1023px) {
    position: fixed;
    top : var(--header-h);
    left: 0;
    right:0;
    height: calc(100vh - var(--header-h));
    transform: translateY(calc(-100% - var(--header-h)));
    transition: transform .35s ease;
    overflow-y: auto;
    background: $color-bg;
    z-index: $z-navPanel;
    padding-top: rem(14);

    &.is-open { 
      transform: translateY(0);
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;

      .p-nav__item {

          .p-nav__link {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-block: rem(16);
            color: $color-text;
            font-weight: 700;
            line-height: 1;
            text-decoration: none;
            transition: opacity .2s;
            &:hover { opacity: .7; }
          }
      }
    }
    &__copyright{
      font-size: rem(12);
      line-height: 1;
      text-align: center;
      margin-top: rem(10);
    }
  }

  // ─── Desktop inline menu ─────────────────────
  @include mq("pc") {
    position: static;
    height: 100%;
    transform: none;
    background-color: transparent;
    padding: 0;

    &__list {
      display: flex;
      flex-direction: row;
      font-weight: 700;
      column-gap: 28px;
      color: $color-main;
      height: 100%;

      .p-nav__item {
        &:last-child {
          display: none;
        }

        .p-nav__link {
          height: 100%;
          padding: 0;
          display: flex;
          align-items: center;
          color: $color-main;
        }
      }
    }
  }
}