/******************************
page service housing
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-serviceContent {
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include mq("tab") {
    padding-bottom: rem(32);
  }

  &__mainImg {
    border-radius: 10px;
    @include mq("tab") {
      border-radius: 50px;
    }
  }

  &__body{
    > div {
      margin-inline: rem(10);
      @include mq("tab") {
        margin-inline: rem(50);
      }

      .p-serviceContent__title {
        font-size: rem(24);
        font-weight: 700;
        line-height: 1;
        padding-block: rem(56) rem(38);
        border-bottom: 1px solid $color-main;
        margin-bottom: rem(20);
      }

      .p-serviceContent_discription {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: rem(60);
        gap: rem(24);
        @include mq("tab") {
          grid-template-columns: 374fr 446fr;
          gap: rem(40);
          margin-bottom: rem(88);
        }

        .p-serviceContent_discriptionLead {
          font-size: rem(20);
          font-weight: 700;
          line-height: 36.5px;
        }

        .p-serviceContent_discriptionText {
          line-height: 29px;
        }
      }

      .p-serviceContent__cases {
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(40);
        @include mq("tab") {
          max-width: rem(766);
          grid-template-columns: 1fr 1fr;
          gap: rem(62);
        }

        h3 {
          font-weight: 700;
          line-height: 1;
          margin-bottom: rem(16);
          @include mq("tab") {
            margin-bottom: rem(20);
          }
        }

        img {
          width: 100%;
          height: auto;
          aspect-ratio: auto;
          border-radius: 5px;
          margin-bottom: rem(16);
          @include mq("tab") {
            margin-bottom: rem(20);
          }
        }

        figcaption {
          font-size: rem(14);
          line-height: 1;
        }
        
      }
    }
  }
}

.p-serviceContent--business,
.p-serviceContent--public {
  .p-serviceContent__body {
    > div {
      .p-serviceContent_discription {
        margin-bottom: rem(88);
        @include mq("tab") {
          margin-bottom: rem(146);
        }
      }
    }
  }
}
