/******************************
Top service
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-topService {
  width: rclamp(275, 968, 375, 1440);
  background-color: $color-lightgray;
  border-radius: 50px 0 0 50px;
  margin-left: auto;
  margin-right: 0;
  position: relative;

  &__inner {
    width: 100vw;
    margin-left: calc(-1 * (100vw - rclamp(275, 968, 375, 1440))); // ← ★ここ
    padding-inline: 20px;
    box-sizing: border-box;
    @include mq("pc") {
      padding-inline: rem(280) rem(155);
    }

    .p-topService__title {
      padding-block: rem(26) rem(24);
    }
  }
}