/******************************
Top service
******************************/
@use "../../foundation/forwards" as *;
@use "sass:math";

.p-topService {
  width: rclamp(275, 968, 375, 1440);
  background-color: $color-lightgray;
  border-radius: 50px 0 0 50px;
  margin-left: auto;
  margin-right: 0;
  position: relative;

  &__inner {
    width: 100vw;
    margin-left: calc(-1 * (100vw - rclamp(275, 968, 375, 1440))); // ← ★ここ
    padding-inline: 20px;
    padding-block: rem(24)  rem(91);
    margin-block: rem(52) rem(55);
    box-sizing: border-box;
    @include mq("pc") {
      padding-inline: rem(280) rem(155);
    }

    .p-topService__title {
      margin-bottom: rem(24);
    }
    .p-topService__content{
      display: flex;
      flex-direction: column-reverse;
      gap: rem(24);
      @include mq("pc") {
        flex-direction: row-reverse;
        gap: rem(56);
      }
      .p-topService__contentBody {
        .p-topService__nam {
          display: none;
          @include mq("pc") {
            display: block;
            color: $color-bluegray;
            font-family: Kanit;
            font-size: rem(168);
            font-weight: 700;
            line-height: 1;
            margin-left: calc(-1 * (rem(21) + rem(56)));
          }
        }
        .p-topService__contentTitle {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-between;
          margin-bottom: rem(16);
          @include mq("pc") {
            flex-direction: row;
          }

          span:first-child {
            color: $color-bluegray;
            font-family: Kanit;
            font-size: rem(48);
            font-weight: 700;
            line-height: 1;
            @include mq("pc") {
              display: none;
            }
          }
          span:last-child {
            font-size: rem(24);
            font-weight: 700;
            line-height: 1;
            padding: rem(10) rem(16);
            background-color: $color-white;
          }
        }
        
        .p-topService__contentText {
          margin-bottom: rem(28);
        }
      }

      .p-topService__contentImg {
        @include mq("pc") {
          width: pc-vw(516);
          height: auto;
          aspect-ratio: auto;
        }
      }
    }
  }
}