/******************************
ヘッダー
******************************/
@use "../foundation/forwards" as *;

.l-header {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: $z-header;
  background: $color-bg;
}

body {
  padding-top: var(--header-h);
}