/******************************
l-inner 汎用インナー
******************************/
@use "../foundation/forwards" as *;

.l-inner {
  width: min(100%, var(--inner-max));
  padding-left:  var(--inner-pl);
  padding-right: var(--inner-pr);
  box-sizing: border-box;
}

.l-inner--703 {
  width: 100%;
  max-width: calc(703px + var(--inner-pl) + var(--inner-pr));
  padding-left:  var(--inner-pl);
  padding-right: var(--inner-pr);
  box-sizing: border-box;
}

.l-inner--923 {
  width: 100%;
  padding-left:  var(--inner-pl);
  padding-right: var(--inner-pr);
  box-sizing: border-box;
  @include mq("pc") {
    max-width: calc(923px + var(--inner-pl) + var(--inner-pr));
  }
}

.l-inner--953 {
  width: 100%;
  padding-left:  var(--inner-pl);
  padding-right: var(--inner-pr);
  box-sizing: border-box;
  @include mq("pc") {
    max-width: calc(953px + var(--inner-pl) + var(--inner-pr));
  }
}

.l-inner--960 {
  width: 100%;
  padding-left:  var(--inner-pl);
  padding-right: var(--inner-pr);
  box-sizing: border-box;
  @include mq("pc") {
    max-width: calc(960px + var(--inner-pl) + var(--inner-pr));
  }
}

.l-inner--470 {
  width: 100%;
  max-width: calc(470px + var(--inner-pl) + var(--inner-pr));
  padding-left:  var(--inner-pl);
  padding-right: var(--inner-pr);
  box-sizing: border-box;
}